/*

### Cargo ###
!/.gitignore
!/.gitattributes
!/Cargo.lock
!/Cargo.toml

### Project ###
!/src
!/build.rs
!/patches/*.patch
!/examples
!/tests

## modules ##
!/.gitmodules
!/simple
!/cppjieba

## docs ##
!/README.md
!/CHANGELOG.md
!/LICENSE

## ci ##
!/.github
