/*

### Cargo ###
!/.gitignore
!/Cargo.lock
!/Cargo.toml

### Project ###
!/src
!/build.rs
!/examples

## modules ##
!/.gitmodules
!/simple
!/cppjieba

## docs ##
!/README.md
!/CHANGELOG.md
!/LICENSE
