[package]
name = "hello"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libsimple = "~0.2"
tempfile = "3"
rusqlite = {version="0.31.0"}
anyhow = "1"
